<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden" name="BookId" [value]="service.formData.BookId">
    <div class="form-group">
      <input name="Tittle" #Tittle="ngModel" [(ngModel)]="service.formData.Tittle" class="form-control"
             placeholder="Tittle" required>
    </div>
    <div class="form-group">
      <input name="BookType" #BookType="ngModel" [(ngModel)]="service.formData.BookType" class="form-control"
             placeholder="Book Type" required>
    </div>
    <div class="form-group">
      <input name="BookDescription" #BookDescription="ngModel" [(ngModel)]="service.formData.BookDescription" class="form-control"
             placeholder="Book Description" required>
    </div>
    <div class="form-group">
        <select name="AuthorId" class="form-control" [(ngModel)]="this.service.formData.AuthId" (change)="filterAuthor($event.target.value)">
            <option [value]=0>--Author--</option>
            <option *ngFor="let authorDetail of this.authorService.list" [value]="authorDetail.AuthorId">
              {{authorDetail.FirstName}} {{authorDetail.LastName}}
            </option>
          </select>
    </div>
    <div class="form-group">
      <select name="PublisherId" class="form-control" [(ngModel)]="this.service.formData.PubId" (change)="filterPublisher($event.target.value)">
        <option [value]=0>--Publisher--</option>
        <option *ngFor="let publisherDetail of this.publisherService.list" [value]="publisherDetail.PublisherId">
          {{publisherDetail.PublisherName}}
        </option>
      </select> 
    </div>
    <div class="form-row">
 <div class="form-group col-md-7">
    <button class="btn btn-primary btn-sm btn-block" type="submit" [disabled]="form.invalid">Submit</button>
    </div>
    <div class="form-group col-md-5">
      <button class="btn btn-secondary btn-sm btn-block" type="button" [disabled]="form.invalid" (click)="reset()">Clear</button>
    </div>  
    </div>
  </form>